body {
    height: 100%;
    background-size: cover;
    background-color: #222120;
    background: #FFFFE0 url(../img/welder_black.jpg); /* Фоновый цвет и фоновый рисунок*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    margin: 0%;
  }

.page { 
  min-height: 100vh;
  max-width: 100%;
  opacity: 0.85;
  background-color: #2e2d2c;
  margin: 0 auto; /* Выравниваем по центру */
  padding: 0;
}

.page_framing { 
  background-color: #282828;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  @media (width>800px) {
    max-width: 60%;
    min-width: 800px;
  };
  @media (width<800px) {
    max-width: 95%;
    min-width: 300px;
  };
}


.block {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}


.maps_zone {
  place-items: center;
}



.content {
  background-color: #282828;
  color: #ffffff; /* Цвет текста */
  font-family:'Verdana', sans-serif; 
  padding-top: 10px;
  padding-bottom: 200px;
  margin-left: 5px; /* Отступ слева в пикселах */
  margin-right: 5px; /* Отступ справа в пикселах */
  margin: auto;
  width: auto;
}

p.number {
  color: #ffffff; /* Цвет текста */
  font-family:'Verdana', sans-serif;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; 
  border-bottom: 2px solid #f0d7d7;
  }

p {
    color: #ffffff; /* Цвет текста */
    font-family:'Verdana', sans-serif;
    padding: 0;
    @media (width>800px) {
      font-size: 11pt;
    };
    @media (width<800px) {
      font-size: 10pt;
    }
  }


li {
  color: #ffffff; /* Цвет текста */
  font-family:'Verdana', sans-serif;
  padding: 4px;
  @media (width>800px) {
    font-size: 11pt;
  };
  @media (width<800px) {
    font-size: 10pt;
  }
}


h2 {
  padding-left: 15px;
  font-size: 16pt;
}

a {
  color: #ffffff; /* Цвет текста */
  font-family:'Verdana', sans-serif;
  text-decoration: none;
  @media (width>800px) {
    font-size: 13pt;
  };
  @media (width<800px) {
    font-size: 11pt;
  }
}

a.address {
  font-family:'Verdana', sans-serif;
}


a.href_copy {
  color: #ffffff; /* Цвет текста */
  margin-left: 5px; /* Отступ слева в пикселах */
  margin-right: 5px; /* Отступ справа в пикселах */
  font-family:'Verdana', sans-serif;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; 
  cursor: pointer;
  @media (width>800px) {
    font-size: 11pt;
  };
  @media (width<800px) {
    font-size: 9pt;
  }
  }
  a.href_copy:visited {
      color: #ffffff; /* Цвет посещённой ссылки */
  } 
  a.href_copy:hover {
      color: #6b6868; /* Цвет ссылки при наведении */ 
      text-decoration: underline; /* Добавляем подчёркивание */
  }

a[download]::after {
  content: url(/example/image/download.png); /* Выводим картинку */
  vertical-align: sub; /* Выравнивание по вертикали */
  padding-left: 5px; /* Расстояние от текста до картинки */
}

iframe {
  margin: auto;
  border-radius: 15px;
  border: 0;
  display: grid;
  @media (width>800px) {
    width: 700px;
    height : 450px;
  };
  @media (width<800px) {
    width: 500px;
    height : 300px;
  };
}

footer {
  background: #201f1f; /* Цвет фона */ 
  border-radius: 15px 15px 0px 0px;
  border: 0.5px solid #000;
  bottom: 0;
  padding: 10px;
  display: flex;
  width: auto;
  align-items: center;
  @media (width>800px) {
    justify-content: space-around;
  };
}

.footer_number_block{
  @media (width<800px) {
    display: none;
  };
}

.footer_block {
  margin-left: 10px;
  margin-right: 10px;
  @media (width>800px) {
    text-align: center;
  };
}