.form_zone {
    background-image: url(../img/metal_background.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border-bottom: 0.5px solid #D0C6C6;
    text-align: center;
}


.form_name_number{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

textarea {
    background: #a6a3a3; /* Цвет фона */ 
    font-family:'Verdana', sans-serif;
    padding: 10px;
    width: 95%;
    height: 150px;
    border-radius: 15px;
    border: 0;
    margin: 10px;
    resize: none;
}
textarea:hover {
    background: #8e8e8f;
}

input {
    font-family:'Verdana', sans-serif;
    background: #ffffff; /* Цвет фона */ 
    border-radius: 10px;
    height: 15px;
    padding: 6px;
    border: 0;
}
input:hover {
    background: #8e8e8f;
}

input.submit{
    color: #ffffff; /* Цвет текста */
    background: inherit; /* Цвет фона */ 
    font-family:'Verdana', sans-serif;
    font-size: 11pt;
    margin: auto;
    padding-top: 0;
    width: 140px;
    height: 20px;
    cursor: pointer;
}

h2.form_title{
    padding-top: 40px;
    color: #ffffff;
}

h2.form_preface {
    color: #ffffff;
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
    @media (width<800px) {
        font-size: 10pt;
      }
    @media (width<700px) {
        font-size: 8pt;
    }
}

.submit_button {
    background: #E74040; /* Цвет фона */
    border-radius: 20px;
    width: 150px;
    margin: 10px;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}
.submit_button:hover {
    background: #8e8e8f;
}