.form_zone {
    background-image: url(../img/metal_background.jpg);
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
}


.form_name_number{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin: auto;
}

.form {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    font-family:'Verdana', sans-serif;
    background: #ffffff; /* Цвет фона */ 
    border-radius: 10px;
    padding: 15px;
    border: 0;
    @media (width>800px) {
        font-size: 14pt;
    };
    @media (width<800px) {
        font-size: 11pt;
    }
}

input:hover {
    background: #8e8e8f;
}

input.submit{
    color: #ffffff; /* Цвет текста */
    background: inherit; /* Цвет фона */ 
    font-family:'Verdana', sans-serif;
    margin: auto;
    cursor: pointer;
    @media (width>800px) {
        font-size: 14pt;
    };
    @media (width<800px) {
        font-size: 11pt;
    }
}

h2.form_title{
    padding: 0;
    color: #ffffff;
}

h2.form_preface {
    color: #ffffff;
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
    @media (width<800px) {
        font-size: 10pt;
      }
    @media (width<700px) {
        font-size: 8pt;
    }
}

.submit_button {
    background: #E74040; /* Цвет фона */
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    padding: 7px;
    cursor: pointer;
}
.submit_button:hover {
    background: #8e8e8f;
}