body {
    height: 100%;
    background-size: cover;
    background-color: #eef2f2;
    background-attachment: fixed; /* Фон страницы фиксируется */
    margin: 0%;
  }

.page { 
  min-height: 100vh;
  max-width: 80%;
  opacity: 0.85;
  margin: 0 auto; /* Выравниваем по центру */
  padding: 0;
}


.block {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  border-bottom: 0.5px solid #D0C6C6;
}


.content {
  color: #000000; /* Цвет текста */
  font-family:'Verdana', sans-serif; 
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 5px; /* Отступ слева в пикселах */
  margin-right: 5px; /* Отступ справа в пикселах */
  margin: auto;
  width: auto;
}

p {
    color: #000000; /* Цвет текста */
    font-family:'Verdana', sans-serif;
    padding: 0;
    text-align: justify;
    font-weight: 300;
    @media (width>800px) {
      font-size: 11pt;
    };
    @media (width<800px) {
      font-size: 10pt;
    }
  }


li {
  color: #000000; /* Цвет текста */
  font-family:'Verdana', sans-serif;
  padding: 4px;
  @media (width>800px) {
    font-size: 11pt;
  };
  @media (width<800px) {
    font-size: 10pt;
  }
}


h2 {
  color: #000000;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  @media (width<800px) {
    font-size: 27pt;
  }
  @media (width<700px) {
    font-size: 20pt;
  }
}

h2.preface{
  color: #817979;
  font-size: 14pt;
  font-weight: normal;
  text-align: center;
  padding-bottom: 15px;
  @media (width<800px) {
    font-size: 10pt;
  }
  @media (width<700px) {
    font-size: 8pt;
  }
}

a {
  color: #000000; /* Цвет текста */
  font-family:'Verdana', sans-serif;
  text-decoration: none;
  @media (width>800px) {
    font-size: 13pt;
  };
  @media (width<800px) {
    font-size: 11pt;
  }
}

a.href_button {
  color: #000000;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 15px;
  font-weight: 300;
  @media (width>800px) {
    font-size: 12pt;
  }
  @media (width<800px) {
    font-size: 11pt;
  }
  }
a.href_button:visited {
  color: #000000; /* Цвет посещённой ссылки */
} 
a.href_button:hover {
  color: #FE143E;
  text-decoration: underline; /* Добавляем подчёркивание */
}