.services_zone {
    align-items: center;
    width: 100%;
    margin: 0;
    @media (width>1000px) {
        display: flex;
        justify-content: space-around;
    };
}

a.services_elem{
    background: #ffffff; /* Цвет фона */ 
    border: 0.25px solid #D0C6C6;
    min-height: 170px;
    border-radius: 15px;
    padding: 0px;
    text-align: left;
    margin: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}
a.services_elem:hover{
    background-color: #E74040;
}


.services_elem_head{
    font-size: 12pt;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 7px;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;
    @media (width>800px) {
        min-height: 100px;
    }
    @media (width<800px) {
        font-size: 13pt; /* Размер шрифта в пунктах */
    };
}

.services_elem_body{
    font-size: 11pt;
    text-align: left;
    white-space: nowrap;
    padding-left: 7px;
    @media (width<800px) {
        font-size: 11pt; /* Размер шрифта в пунктах */
    };
}