<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<!-- Имя текущей страницы -->
        <title>{{filling.page.page_name}}</title>
        <link rel="stylesheet" href="../static/css/page_style.css">
		<link rel="stylesheet" href="../static/css/menu.css">
		<link rel="stylesheet" href="../static/css/form.css">
		<link rel="stylesheet" href="../static/css/button_up.css">
		<link rel="stylesheet" href="../static/css/services.css">
		<link rel="icon" href="static\img\icon_welder.png" type="image/x-icon">
		<script src="static\js\btn_up.js"></script>
    </head>
    <body>
		<div class="page">
			<div class="page_framing">
				{% block menu %}
					{% include "menu.html" %}
				{% endblock %}

				<div class="content">
					{% block content %} <!-- вложенные шаблоны -->
					{% endblock %}
				</div>
				<button onclick="topFunction()" id="myBtn" title="Наверх">Вверх</button>
				
				<footer>
					<div class="footer_number_block">
						<div class="footer_block">
							<div class="number_block">
								<p class="explanations">Наш номер</p>
								<a id="number" onclick="Copy('number')" class="menu_href_copy">{{ filling.contacts.number }}</a>
							</div>
							<div class="number_block">
								<p class="explanations">Наша почта</p>
								<a id="email" onclick="Copy('email')" class="menu_href_copy">{{ filling.contacts.email }}</a>
							</div>
						</div>
					</div>
					<div class="footer_block">
						<p>Гhафические элементы взяты с <a href="https://www.flaticon.com/">flaticon.com</a></p>
						<p>metalist.ru искользует VPS от компании Beget</p>
					</div>
					<div class="footer_block">
						<p>Нашли ошибку?</p>
						<p>Свяжитесь с нами для ее устранения.</p>
					</div>
				</footer>
			</div>
		</div>
    </body>
</html>