{% block services %}
    <div class="block">
        <h2>Наши услуги</h2>
        <div class="services_zone">

            {% for service in service_content.service_list %}
                <div class="services_elem">
                    <div class="services_elem_head">
                        <h3>{{ service.service_name }}</h3>
                    </div>
                    <div class="services_elem_body">
                        <ul>
                            {% for item in service.list %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if (loop.index)%3==0 %}
                    </div><div class="services_zone">
                {% endif %}
            {% endfor %}
       </div>
    </div>
{% endblock %}
