
{% block form %}
        <div class="form_zone">
            <form action="/form" method="post">
                <h2 class="form_title">Оставьте свою заявку</h2>
                <h2 class="form_preface">Наш специалист свяжется с вами для консультации</h2>
                <div class="form_name_number">
                    <div class="form">
                        {{ form.username() }}
                    </div>
                    <div class="form">
                        {{ form.phonenumber() }}
                    </div>
                    <div class="form">
                        {{ form.email() }}
                    </div>
                </div>
            <div class="submit_button">
                {{ form.submit(class_="submit") }}
            </div>
        </form>
        </div>
{% endblock %}
