
{% block form %}
        <div class="form_zone">
            <form action="/form" method="post">
                <h2 class="form_title">Оставьте свою заявку</h2>
                <h2 class="form_preface">Наш специалист свяжется с вами для консультации</h2>
                <div class="form_name_number">
                    <div class="form">
                        {{ form.username(placeholder="Ваше имя") }}
                    </div>
                    <div class="form">
                        {{ form.phonenumber(placeholder="8 (900) 000-00-00") }}
                    </div>
                    <div class="form">
                        {{ form.email(placeholder="Email") }}
                    </div>
                    <div class="submit_button">
                        {{ form.submit(class_="submit") }}
                    </div>
                </div>
        </form>
        </div>
{% endblock %}
