
{% block menu %}
    <div class="menu_zone">

        <div class="title_block">
            <h3 class="title">Спецработы</h3>
        </div>
            <div class="menu_block">
                {% if filling.page.page_name == 'Главная' %}
                    <a href="#about_company" class="menu_href">О компании</a>
                    <a href="#services" class="menu_href">Услуги</a>
                    <a href="#vacancies" class="menu_href">Трудоустройство</a>
                    <a href="#contacts" class="menu_href">Контакты</a>
                {% else %}
                    <a href="/" class="menu_href">На главную</a>
                {% endif %}
            </div>
            
            <div class="pop_up_menu_zone">
                {% if filling.page.page_name == 'Главная' %}
                <div class="pop_up_menu">
                    <button class="pop_up_menu_btn"></button>
                    <div class="pop_up_menu-content">
                        <a href="#about_company" class="pop_up_menu_href">О компании</a>
                        <a href="#services" class="pop_up_menu_href">Услуги</a>
                        <a href="#vacancies" class="pop_up_menu_href">Трудоустройство</a>
                        <a href="#contacts" class="pop_up_menu_href">Контакты</a>
                    </div>
                </div>
                {% else %}
                        <a href="\" class="home_button"><a>
                {% endif %}
            </div>
    </div>
{% endblock %}

